:root {
    --primary-color: #055a05;
    /*forest green*/
    --secondary-color: ##f4a261;
    /*warm sand*/
    --accent1-color: #264653;
    /* dark slate blue*/
    --accent2-color: #e9c46a;
    /* light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}



header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

article{
    position: relative;

}

article img {
    float: right;
    padding: 25px;

}

h2 {
    margin-bottom: 1rem;
    margin-top: -51px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #ffffff;
}

footer {
  text-align: left;
  margin-top: -1rem;
  border-top: 1px solid #000;

}
.socialmedia img {
    width: 45px;
    height: auto;
    margin-top: -45px;
}



