* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    /*forest green*/
    --secondary-color: ##f4a261;
    /*warm sand*/
    --accent1-color: #ff8400;
    /* dark slate blue*/
    --accent2-color: #e9c46a;
    /* light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    color: var(--accent2-color);

}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: rgb(180, 94, 9);
    background-color: black;

}

nav,
p,
section,
article {
    margin: 9px;
    padding: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.lero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 11px;
    text-align: center;
    opacity: 0.8;
    background-color: rgb(206, 95, 4);
    color: #ffffff;

}

.hero article img {
    float: right;
    width: 125px;
    margin: 1rem;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    background-color: var(--accent1-color);
    color: #ffffff;
}

.socialmedia img {
    width: 24px;
    height: 24px;
    margin-top: -9px;
}