* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-seri;
}

:root {
    --height: auto;
    --text-align: center;
    --margin: 1rem
}

nav {
    background-color: rgb(1, 1, 92);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
    padding: 1rem;
}


main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: var(--height);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border: 1px solid rgb(11, 0, 83);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: x;
    left: 140px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 01rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding: 2rem;
}