.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    padding: 15px;
    background-color: #247;
    color: #fff;
    width: auto;
    height: auto;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border:1px solid #000;
    padding:3px;
    background-color: #bbb;
    width: 15  0px;
    height: auto;

}

blockquote {
	margin-top: 0px;
}

cite {
	display: block;
    border-top: 2px dotted #fff;
    padding-top: 5%; 
    text-align: right;
    font-size: smaller;

}
